@using FinalArizon.ViewModel;


@model SliderCreateVM
<div class="card-body">
    <form class="forms-sample" enctype="multipart/form-data" method="post">
        <div class="form-group">
            <label asp-for="Isactive"></label>
            <div>
                <input asp-for="Isactive" type="checkbox" value="true">
                <label>True</label>
            </div>
            <div>
                <input asp-for="Isactive" type="checkbox" value="false">
                <label>False</label>
            </div>
            <span asp-validation-for="Isactive"></span>
        </div>

     
        


        <div class="form-group">
            <label asp-for="Photo"></label>
            <input asp-for="Photo" class="form-control" asp-format="Photo">
            <span asp-validation-for="Photo"></span>
        </div>
       




        @* //////DropDown*@
        @* <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" >

        </button>
        <ul class="dropdown-menu">
        @foreach (var item in Model.Categories)
        {
        <li>  <a>@item.Name</a></li>
        }


        </ul>
        </div>*@



        <button type="submit" class="btn btn-primary me-2">Submit</button>
        <button asp-controller="Slider" asp-action="Index" class="btn btn-light">Cancel</button>
    </form>
</div>